<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/meta :: meta"/>
    <div th:replace="fragments/title :: title"/>
    <div th:replace="fragments/css :: css"/>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body itemscope itemtype="http://schema.org/SoftwareApplication">

<div th:replace="fragments/header :: header"/>

<div id="main" data-spy="scroll" data-target="#navbar-collapsible">
    <a class="row btn btn-sm github-button" itemprop="url" id="new-board">
        <div class="col-xs-9 text-center"><small>New</small><br><span class="fa-2x"> board </span></div>
    </a>
    <section class="container-fluid" id="demo">

        <div class="container">
            <div class="row" itemprop="about" id="boards">
            </div>
        </div>
        <br />
        <br />

    </section>

    <div th:replace="fragments/footer :: footer"/>
    <div th:replace="fragments/js :: js"/>x

</body>
</html>
