<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/meta :: meta"/>

    <title>Chessboards v1.0</title>

    <div th:replace="fragments/css :: css"/>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body itemscope itemtype="http://schema.org/SoftwareApplication">

<div th:replace="fragments/header :: header"/>

<div id="main" data-spy="scroll" data-target="#navbar-collapsible">
    <a class="row btn btn-sm github-button" itemprop="url" id="new-board">
        <div class="col-xs-9 text-center"><small>New</small><br><span class="fa-2x"> board </span></div>
    </a>
    <section class="container-fluid" id="demo">

        <div class="container">
            <div class="row" itemprop="about" id="boards">
            </div>
        </div>
        <br />
        <br />

    </section>

    <footer id="footer" class="">
        <div class="container">
            <div class="row">
                <!-- <div class="col-xs-6 col-sm-6 col-md-3">
                    <h4>Download</h4>
                    <ul class="nav">
                        <li><a href="//github.com/saribe/emodal/zipball/master" itemprop="downloadUrl"><i class="fa fa-lg fa-fw fa-file-zip-o"></i> .zip file</a></li>
                        <li><a href="//github.com/saribe/emodal/tarball/master" itemprop="downloadUrl"><i class="fa fa-lg fa-fw fa-file-zip-o"></i> .tar.gz file</a></li>
                    </ul>
                </div> -->
                <div class="col-xs-6 col-md-3">
                    <h4>Follow Us</h4>
                    <ul class="nav">
                        <li><a href="http://github.com/leogtzr" itemprop="discussionUrl"><i class="fa fa-lg fa-fw fa-github"></i> GitHub</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-3">
                    <!--<h4></h4>-->
                    <ul class="nav"></ul>
                </div>
                <div class="col-xs-6 col-md-3" itemprop="keywords">
                    <span class="label label-info">chess</span>,
                </div>
            </div><!--/row-->
        </div>
    </footer>
</div>

    <div th:replace="fragments/js :: js"/>x

</body>
</html>
