<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/meta :: meta"/>

    <title>Chessboards v1.0</title>

    <div th:replace="fragments/css :: css"/>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body itemscope itemtype="http://schema.org/SoftwareApplication">

    <div th:replace="fragments/header :: header"/>

<div id="main" data-spy="scroll" data-target="#navbar-collapsible">
    <div class="container-fluid" id="demo">

        <div class="container">
            <div class="row">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="name: ${names}">
                            <td><a class="loadgame" th:text="${name}"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <br />

    </div>

    <section class="container-fluid" id="loadedgames">
        <div class="container">
            <div class="row" itemprop="about" id="savedgames">
            </div>
        </div>
    </section>

    <div th:replace="fragments/footer :: footer"/>

</div>

    <div th:replace="fragments/js :: js"/>

</body>
</html>
