<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">

    <footer id="footer" class="">
        <div class="container">
            <div class="row">
                <!-- <div class="col-xs-6 col-sm-6 col-md-3">
                    <h4>Download</h4>
                    <ul class="nav">
                        <li><a href="//github.com/saribe/emodal/zipball/master" itemprop="downloadUrl"><i class="fa fa-lg fa-fw fa-file-zip-o"></i> .zip file</a></li>
                        <li><a href="//github.com/saribe/emodal/tarball/master" itemprop="downloadUrl"><i class="fa fa-lg fa-fw fa-file-zip-o"></i> .tar.gz file</a></li>
                    </ul>
                </div> -->
                <div class="col-xs-6 col-md-3">
                    <h4>Follow Us</h4>
                    <ul class="nav">
                        <li><a href="http://github.com/leogtzr" itemprop="discussionUrl"><i class="fa fa-lg fa-fw fa-github"></i> GitHub</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-3">
                    <!--<h4></h4>-->
                    <ul class="nav"></ul>
                </div>
                <div class="col-xs-6 col-md-3" itemprop="keywords">
                    <span class="label label-info">chess</span>,
                </div>
            </div><!--/row-->
        </div>
    </footer>

</div>
</body>
</html>
