<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="meta">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="application-name" content="bs eModal">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="application-name" content="Badoo"/>
    <meta name="msapplication-TileColor" content="#F76406"/>
    <meta name="msapplication-square70x70logo" content="tiny.png"/>
    <meta name="msapplication-square150x150logo" content="square.png"/>
    <meta name="msapplication-wide310x150logo" content="wide.png"/>
    <meta name="msapplication-square310x310logo" content="large.png"/>
    <meta name="msapplication-notification"
          content="frequency=15;
                   polling-uri=http://feeds.bbci.co.uk/news/world/rss.xml?edition=uk;
                   cycle=1"/>
    <meta name="description" content="...">

</div>
</body>
</html>
